/* MOBILE FIRST - HEADER STYLES */

.header {
  background-color: #000000;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.logoLink {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.headerSpacer {
  height: 64px;
}

/* DESKTOP */
@media (min-width: 768px) {
  .header {
    padding: 16px 100px;
  }

  .headerSpacer {
    height: 60px;
  }

  .logo {
    font-size: 24px;
    
  }
}
