@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #000000;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body, html {
  font-family: 'Montserrat', sans-serif !important;
}

