.hero {
  background-color: #000000;
  padding: 40px 20px 0 20px;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

.title {
  font-size: 64px;
  font-weight: 700;
  color: white;
  margin-bottom: 0px;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 32px;
  font-weight: 500;
  color: white;
  margin-top: -10px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.socialIcons {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.iconLink {
  display: block;
}

.icon {
  width: 28px;
  height: 28px;
  
}



.previewSubtitle {
  font-size: 16px;
  color: #ffde59;
  margin-bottom: 20px;
  font-weight: 600;
}



/* Desktop: Hero background image and larger subtitle */
@media (min-width: 768px) {
  .hero {
    min-height: 80vh;
    padding: 20px 60px 0 100px;
    background: linear-gradient(to bottom, #000000, #3f3f3f);
  }
  
  .subtitle {
    font-size: 52px;
    font-weight: 600;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .socialIcons {
    margin-bottom: 0px;
  }

  .icon {
  width: 28px;
  height: 28px;
  }

  .content {
    margin: 0;
    padding-left: 0px;
  }

}